.card {
  border-radius: 15px;
  background: #ffffff;
}

.table-hover tbody tr:hover {
  background-color: #f1f7ff;
}

.btn-primary {
  background: linear-gradient(to right, #007bff, #00c6ff);
  border: none;
}

.alert-info {
  background-color: #e0f7fa;
  color: #007bff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table thead {
  background-color: #007bff;
  color: white;
}